# Entorno virtual
env/
venv/
ENV/
*.env

# Archivos de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.pkl
*.pyc

# Archivos temporales
*.log
*.pot
*.so
*.mo

# Base de datos SQlite (NO subir)
db.sqlite3
db.sqlite3-journal

# Archivos de cache y sesiones
*.cache
*.sql
*.sqlite3

# Archivos de compilación
*.egg-info/
dist/
build/

# VSCode
.vscode/
.settings/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Static *generados por Django* (si usaras collectstatic en producción)
staticfiles/

# PERMITIR static/ del template
!static/
