# Entorno virtual
.venv/
venv/

# Cachés de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos temporales
*.log

# Configuraciones de VSCode
.vscode/

# Migraciones si quieres ignorarlas (opcional)
# */migrations/

# Archivos del sistema
.DS_Store
Thumbs.db
